<ion-view class="loginView" view-title="Login" name="login-view">
    <ion-content class="padding center">
        <div class="row responsive-sm">
          <div class="col text-center" >
              <h1>Login</h1>
          </div>
        </div>
        <label class="item item-input">
            <input type="text" placeholder="Username" ng-model="data.username">
        </label>
        <label class="item item-input">
            <input type="password" placeholder="Password" ng-model="data.password">
        </label>
        <button class="button button-block button-energized" ng-click="login()">Login</button>
        <a href="/#/tab/dash" class="button button-block button-energized" >Skip Login</a>
    </ion-content>
</ion-view>
