<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Add Item</h1>
    <div class="buttons">
      <button class="button button-clear" style="color: black;" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>

  <ion-content>
      <div class="card">
        <form name="loginForm" ng-submit="addNewItem()">
            <label class="item item-input">
                <input type="text" placeholder="PRODUCT" ng-model="data.product">
        </label>
        <label class="item item-input">
            <input type="text" placeholder="price" ng-model="data.price">
        </label>
       <!--  <label class="item item-input">
            <input type="text" placeholder="Username" ng-model="data.username">
        </label>
        <label class="item item-input">
            <input type="text" placeholder="Username" ng-model="data.username">
        </label>
        <label class="item item-input">
            <input type="text" placeholder="Username" ng-model="data.username">
        </label>
        <label class="item item-input">
            <input type="text" placeholder="Username" ng-model="data.username">
        </label>
        <label class="item item-input">
            <input type="text" placeholder="Username" ng-model="data.username">
        </label> -->
        <button class="button button-block button-positive" type="submit">Add new item</button>



        </form>
    </div>
  </ion-content>
</ion-modal-view>