<ion-view view-title="Chats">
  <ion-content>
    <ion-list>
      <div>
        <form name="payment">
                
          <div class="list list-inset">
            <label class="item item-input">
    <input type="text" placeholder="Amount ($XX.XX)" ng-model="amount">
  </label>
  
</div>

                <!-- Add Dropin here -->
                <div id="checkout"></div>

                
                <button class="button button-full button-positive">
                Pay {{amount}}
</button>

              </form>
              <span>{{message}}</span>
            </div>
        </ion-list>
      </ion-content>
    </ion-view>