<ion-view view-title="Dashboard">
  <ion-content>
    <div class='col-xs-8'>
      <h2>menu</h2>
    </div>
    <div class='col-xs-4 cartIcon'>
      <i class='fa fa-shopping-cart' ng-click='openCart()'></i>
    </div>
    <!-- /////////shopping cart modal -->
    <div class="shoppingCartModal" ng-if='cartModal'>
      <div class="exitCart col-xs-3" ng-click='closeCart()'>
        Back
      </div>
      <h2>Your Cart</h2>
      <div class="shoppingCartList">
        <div class="shoppingCartCell" ng-repeat='item in currentOrder'>
          <div class="cartPhotoHolder col-xs-2">
            <img src="{{item.photo}}" alt="" />
          </div>
          <div class='cartContent col-xs-4'>
            {{item.title}}
          </div>
          <div class="cartPrice col-xs-6">
            <span class='fa fa-pencil-square-o editIcon'></span>
            <span class='fa fa-times removeItemIcon'></span>
            <span>{{item.price | currency}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="drinkRepeatContainer col-xs-12">
      <!-- //////begin  options modal -->
      <div class="optionsModal" ng-if='optionsModal'>
        <div class="optionsHeader">
          <div class="col-xs-8">
            Choose Your Size
          </div>
          <div class="col-xs-4 closeOptions">
            <p class='fa fa-times' ng-click='closeModal()'></p>
          </div>
        </div>
        <div class="sizeContainer col-xs-12">
          <div class="sizeCell sizeSmall col-xs-4" ng-click='choseSize($event)'>
            Small
          </div>
          <div class="sizeCell sizeMedium col-xs-4" ng-click='choseSize($event)'>
            Medium
          </div>
          <div class="sizeCell sizeLarge col-xs-4" ng-click='choseSize($event)'>
            Large
          </div>
        </div>
        <div class="moreOptionsContainer col-xs-12" ng-if='moreOptions'>
          <div class="optionCell">
            <div class="optionEspressoShot ">
              <div class="col-xs-6">
                Espresso Shot
              </div>
              <div class="col-xs-6 espressoMath">
                <span class='fa fa-minus' ng-click='subtractShot()'></span><span>{{totalShots}}</span><span class='fa fa-plus' ng-click='addShot()'></span>
              </div>
            </div>
          </div>
          <div class="optionCell">
            <div class="optionFlavor">
              <div class="col-xs-6">
                Add a Flavour
              </div>
              <div class="col-xs-6">
                <select class="flavourDropdown" name="">
                  <option value="almond">Almond</option>
                  <option value="chocolate">Chocolate</option>
                  <option value="caramel">Caramel</option>
                  <option value="pumpkin_spice">Pumpkin Spice</option>
                  <option value="white_chocolate">White Chocolate</option>
                </select>
              </div>
            </div>
          </div>
          <div class="optionCell">
            <div class="optionTopping ">
              <div class="col-xs-6">
                Add a Topping
              </div>
              <div class="col-xs-6">
                <select class="toppingDropdown">
                  <option value="almond">Almond</option>
                  <option value="chocolate">Chocolate</option>
                  <option value="caramel">Caramel</option>
                  <option value="white_chocolate">White Chocolate</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="submitButtonContainer col-xs-12">
          <div class="submitButton col-xs-4 col-xs-offset-8" ng-click='submitDrinkOptions()'>
            Submit
          </div>
        </div>
        <div class="col-xs-12 openMore" ng-click='openMoreOptions()'>
          More Drink Options
        </div>
      </div>
      <div class="col-xs-12 drinkCell" ng-repeat='menuitem in data'>
        <div class="drinkPhotoHolder">
          <img class='drinkPhoto' src="{{menuitem.photourl}}" alt="" ng-click='openOptionsModal(menuitem)'/>
        </div>
        <div class="drinkInfo">
          <div class="drinkInfo-name">{{menuitem.name}}</div>
          <div class="drinkInfo-price">${{menuitem.price}}</div>
        </div>
        <div class="drinkAction"><i class="fa fa-plus-circle"></i></div>
      </div>
    </div>
  </ion-content>
</ion-view>
