<ion-view>
  <ion-content >
    <div class="optionsModal padding container" ng-if='client.optionsModal'>
      <!-- <div class="optionsHeader">
        <div class="col-xs-8">
          <div class="optionsHeaderTitle">
            Mocha Latte
          </div>
        </div>
        <div class="col-xs-4 closeOptions">
          <p class='fa fa-times' ng-click='client.closeModal()'></p>
        </div>
      </div>
      <div class="sizeContainer col-xs-12">
        <div class="sizeCellContainer col-xs-4">
          <div class="sizeCell sizeSmall" ng-click='client.choseSize($event)'>
            <i class="icon ion-coffee"></i>
          </div>
        </div>
        <div class="sizeCellContainer col-xs-4">
          <div class="sizeCell sizeMedium" ng-click='client.choseSize($event)'>
            <i class="icon ion-coffee"></i>
          </div>
        </div>
        <div class="sizeCellContainer col-xs-4">
          <div class="sizeCell sizeLarge" ng-click='client.choseSize($event)'>
            <i class="icon ion-coffee"></i>
          </div>
        </div>
      </div>
      <div class="moreOptionsContainer col-xs-12" ng-if='client.moreOptions'>
        <div class="optionCell">
          <div class="optionEspressoShot">
            <div class="col-xs-6 optionText">
              Espresso Shot
            </div>
            <div class="col-xs-6 espressoMath optionInput">
              <span class='fa fa-minus espressoMath-less' ng-click='client.subtractShot()'></span><span class="espressoMath-number">{{client.totalShots}}</span><span class='fa fa-plus espressoMath-more' ng-click='client.addShot()'></span>
            </div>
          </div>
        </div>
        <div class="optionCell">
          <div class="optionFlavor">
            <div class="col-xs-6 optionText">
              Add a Flavour
            </div>
            <div class="col-xs-6 optionInput">
              <select class="flavourDropdown" name="">
                <option value="almond">Almond</option>
                <option value="chocolate">Chocolate</option>
                <option value="caramel">Caramel</option>
                <option value="pumpkin_spice">Pumpkin Spice</option>
                <option value="white_chocolate">White Chocolate</option>
              </select>
            </div>
          </div>
        </div>
        <div class="optionCell">
          <div class="optionTopping">
            <div class="optionText col-xs-6">
              Add a Topping
            </div>
            <div class="col-xs-6 optionInput">
              <select class="toppingDropdown" name="">
                <option value="almond">Almond</option>
                <option value="chocolate">Chocolate</option>
                <option value="caramel">Caramel</option>
                <option value="white_chocolate">White Chocolate</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="openMore col-xs-12" ng-click='client.openMoreOptions()'>
        <span ng-if='!client.moreOptions'>
          More Drink Options <i class="icon ion-ios-arrow-down"></i>
        </span>
        <span ng-if='client.moreOptions'>
          Close Drink Options <i class="icon ion-ios-arrow-up"></i>
        </span>
      </div>
      <div class="modalActionContainer col-xs-12">
        <div class="modalActionCancel col-xs-4">
          <button ng-click='client.closeModal()'>BACK</button>
        </div>
        <div class="modalActionSubmit col-xs-8">
          <button ng-click='client.submitDrinkOptions()'>ADD TO ORDER</button>
        </div>
      </div> -->
    </div>
    <!-- End Options Modal -->
    <!-- /////////Start shopping cart modal -->
    <!-- <div class="shoppingCartModal padding">
      <div class="text-center">
      <h2>YOUR CART</h2>
      </div>
    </div> -->

    <!-- /////////End Modals//// -->
    <div class="navContainer">
      <div class="cartHolder">
        <div class="cartModalHolder">
          <div class="xCart fa fa-times" ng-click='client.closeCart()' ng-if='client.cartModal'></div>
         <i class='fa fa-shopping-cart' ng-click='client.openCart()'></i>

         <div class="listContainer">
           <div class="shoppingCartList" ng-if='client.cartModal'>
             <div class="shoppingCartCell" ng-repeat='item in client.currentOrder'>
               <!-- <div class="cartPhotoHolder">
                 <img src="{{item.photo}}" alt="" />
               </div> -->
               <div class="cartContent">
                 <div class="checkoutDrinkInfo-name">
                   {{item.title}}
                 </div>
               </div>
               <div class="cartActions">
                 <div class="cartAction-container" ng-click='client.openOptionsModal("blah")'>
                   <i class="fa fa-pencil"></i>
                 </div>
                 <div class="cartAction-container removeItemIcon" ng-click='client.removeItem(item, $index)'>
                   <i class="fa fa-times"></i>
                 </div>
               </div>
               <div class="cartPrice">
                 <span>{{item.price | currency}}</span>
               </div>
             </div>
             <div class="emptyCart" ng-show="!client.currentOrder.length">
               <i class="fa fa-frown-o"></i>
               <div>Bummer, nothing in your cart.</div>
             </div>
           </div>
           <div class="checkoutContainer" ng-show="client.currentOrder.length && client.cartModal" >
             <div class="checkoutTotal col-xs-6">
               {{client.orderTotalPrice | currency}}
             </div>
             <div class="checkoutButton col-xs-5"ng-click='client.checkout()'>
               Checkout
             </div>
           </div>
         </div>
        </div>
      </div>
      <!-- <div ng-if='cartModal'>
        <i class="fa fa-inverse ion-ios-arrow-left exitCart" ng-click='closeCart()'></i>
    </div> -->
    </div>
    <div class="drinkRepeatContainer col-xs-12">
      <!-- <div class='col-xs-12 text-center'>
        <h2>Your logo here</h2>
      </div> -->
      <!-- <button type="button" name="button" class='btn btn-primary'></button> -->
      <div class="drinkListContainer">
        <div class=" drinkCell optionClosed" ng-repeat='menuitem in client.data' ng-click='client.openOptionsModal(menuitem, $index, $event)'>
          <div class="optionsPart">
            <div class="sizeContainer col-xs-12">
              <div class="sizeCellContainer col-xs-4">
                <div class="sizeCell sizeSmall">
                  <i class="icon ion-coffee"></i>
                </div>
              </div>
              <div class="sizeCellContainer col-xs-4">
                <div class="sizeCell sizeMedium">
                  <i class="icon ion-coffee"></i>
                </div>
              </div>
              <div class="sizeCellContainer col-xs-4">
                <div class="sizeCell sizeLarge">
                  <i class="icon ion-coffee"></i>
                </div>
              </div>
            </div>
            <div class="moreOptionsContainer col-xs-12">
              <div class="optionCell">
                <div class="optionEspressoShot">
                  <div class="col-xs-6 optionText">
                    Espresso Shot
                  </div>
                  <div class="col-xs-6 espressoMath optionInput">
                    <span class='fa fa-minus espressoMath-less' ng-click='client.subtractShot()'></span><span class="espressoMath-number">{{client.totalShots}}</span><span class='fa fa-plus espressoMath-more' ng-click='client.addShot()'></span>
                  </div>
                </div>
              </div>
              <div class="optionCell">
                <div class="optionFlavor">
                  <div class="col-xs-6 optionText">
                    Add a Flavour
                  </div>
                  <div class="col-xs-6 optionInput">
                    <select class="flavourDropdown" name="">
                      <option value="almond">Almond</option>
                      <option value="chocolate">Chocolate</option>
                      <option value="caramel">Caramel</option>
                      <option value="pumpkin_spice">Pumpkin Spice</option>
                      <option value="white_chocolate">White Chocolate</option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- <div class="optionCell">
                <div class="optionTopping">
                  <div class="optionText col-xs-6">
                    Add a Topping
                  </div>
                  <div class="col-xs-6 optionInput">
                    <select class="toppingDropdown" name="">
                      <option value="almond">Almond</option>
                      <option value="chocolate">Chocolate</option>
                      <option value="caramel">Caramel</option>
                      <option value="white_chocolate">White Chocolate</option>
                    </select>
                  </div>
                </div>
              </div> -->
            </div>
            <div class="openMore col-xs-12">
              <span class='moreDrinkOps'>
                More Drink Options <i class="icon ion-ios-arrow-down"></i>
              </span>
            </div>
            <div class="modalActionContainer col-xs-12">
              <!-- <div class="modalActionCancel col-xs-4">
                <button ng-click='client.closeModal()'>BACK</button>
              </div> -->
              <div class="modalActionSubmit col-xs-8 col-xs-offset-2">
                <button class='submitItem'>ADD TO ORDER</button>
              </div>
            </div>
          </div>
          <div class="drinkPhotoHolder">
            <img class='drinkPhoto' src="{{menuitem.photourl}}" alt="" />
          </div>
          <div class="drinkIn">
            <div class="drinkIn-name">{{menuitem.name}}</div>
            <div class="drinkIn-price">${{menuitem.price}}</div>
          </div>
          <!-- <div class="drinkAction"><i class="fa fa-plus-circle"></i></div> -->
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
