<ion-view>
  <ion-content class="padding">
    <div class="ordersList">
      <div class="orderHistoryCell" ng-repeat='order in history.lastOrderHistory'>

        <div class="orderDate col-xs-12">
          <!-- {{order}} -->
          Ordered On: {{order.createdAt}}
        </div>
        <div class="orderMenuList col-xs-" ng-repeat='menuitem in order.menuitems'>
          {{menuitem.itemId.name}}
        </div>


        <!-- <div class="drinkPhotoHolder">
          <img class='drinkPhoto' src="{{menuitem.photoLink}}" alt="" />
        </div>
        <div class="drinkIn">
          <div class="drinkIn-name">{{menuitem.name}}</div>
          <div class="drinkIn-price">${{menuitem.price}}</div>
        </div> -->
      </div>
    </div>
  </ion-content>
</ion-view>
