<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>menu</h2>
    <!-- <button type="button" name="button" class='btn btn-primary'></button> -->
    <div class="drinkRepeatContainer col-xs-12">
      <div class="optionsModal" ng-if='optionsModal'>
        <div class="optionsHeader">
          <div class="col-xs-8">
            Choose Your Size
          </div>
          <div class="col-xs-4 closeOptions">
            <p class='fa fa-times' ng-click='closeModal()'></p>
          </div>
        </div>
        <div class="sizeContainer col-xs-12">
          <div class="sizeCell sizeSmall col-xs-4" ng-click='choseSize($event)'>
            Small
          </div>
          <div class="sizeCell sizeMedium col-xs-4" ng-click='choseSize($event)'>
            Medium
          </div>
          <div class="sizeCell sizeLarge col-xs-4" ng-click='choseSize($event)'>
            Large
          </div>
        </div>
        <div class="moreOptionsContainer col-xs-12" ng-if='moreOptions'>
          <div class="optionCell">
            <div class="optionEspressoShot ">
              <div class="col-xs-6">
                Espresso Shot
              </div>
              <div class="col-xs-6 espressoMath">
                <span class='fa fa-minus' ng-click='subtractShot()'></span><span>{{totalShots}}</span><span class='fa fa-plus' ng-click='addShot()'></span>
              </div>
            </div>
          </div>
          <div class="optionCell">
            <div class="optionFlavor">
              <div class="col-xs-6">
                Add a Flavour
              </div>
              <div class="col-xs-6">
                <select class="flavourDropdown" name="">
                  <option value="almond">Almond</option>
                  <option value="chocolate">Chocolate</option>
                  <option value="caramel">Caramel</option>
                  <option value="pumpkin_spice">Pumpkin Spice</option>
                  <option value="white_chocolate">White Chocolate</option>
                </select>
              </div>
            </div>
          </div>
          <div class="optionCell">
            <div class="optionTopping ">
              <div class="col-xs-6">
                Add a Topping
              </div>
              <div class="col-xs-6">
                <select class="toppingDropdown">
                  <option value="almond">Almond</option>
                  <option value="chocolate">Chocolate</option>
                  <option value="caramel">Caramel</option>
                  <option value="white_chocolate">White Chocolate</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="submitButtonContainer col-xs-12">
          <div class="submitButton col-xs-4 col-xs-offset-8" ng-click=''>
            Submit
          </div>
        </div>
        <div class="col-xs-12 openMore" ng-click='openMoreOptions()'>
          More Drink Options
        </div>
      </div>
      <div class="col-xs-12 drinkCell" ng-repeat='menuitem in data'>
        <div class="drinkPhotoHolder">
          <img class='drinkPhoto' src="{{menuitem.photourl}}" alt="" ng-click='openOptionsModal()'/>
        </div>
        {{menuitem.price}}
      </div>
    </div>
  </ion-content>
</ion-view>
