
/****** Drink List View ******/

.cartIcon {
  font-size: 35px;
  text-align: right;
}

.cartPhotoHolder {
  padding: 0px;
  height: 55px;
}

.cartPhotoHolder img{
  width: 49px;
  margin-top: 3px;
  margin-left: 3px;
  position: absolute;
  border-radius: 3px;
}

.cartPrice {
  text-align: center;
}

.checkoutButton {
  height: 45px;
  background-color: blue;
  color: white;
  text-align: center;
  padding-top: 15px;
  font-size: 22px;
}

.drinkCell{
  height: 70px;
  padding: 10px 0;
  border: 1px solid #eeeeee;
  border-width: 0 0 1px;
  display: flex;
}

.drinkCell:first-child{
  border-width: 1px 0 1px;
}

.drinkPhotoHolder {
  width: 50px;
  height: 50px;
}

.drinkPhoto {
	width: 100%;
  height: auto;
  border-radius: 3px;
}

.drinkInfo{
	flex-grow: 1;
	padding-left: 10px;
}

.drinkInfo-name{
  font-size: 1.2em;
}

.drinkInfo-price{
  font-size: 1em;
  color: #888888;
}

.drinkAction{
	width: 40px;
	padding-left: 10px;
}

.drinkAction i{
	font-size: 30px;
	line-height: 50px;
	color: #1abc9c;
}

.editIcon {
  font-size: 25px;
  margin-left: 10px;
}


/****** Modal *******/

.closeOptions {
  text-align: right;
  font-size: 22px;
  margin-top: 5px
}

.drinkRepeatContainer {
  height: auto;
  padding: 0px;
}

.espressoMath {
  text-align: right;
  font-size: 20px;
}

.flavourDropdown {
  width: 60%;
  margin-left: 20%;
}

.moreOptionsContainer {
  height: 200px;
  border: 2px solid orange;
}

.openMore {
  height: 50px;
  outline: 2px solid gray;
  text-align: center;
  font-size: 23px;
  color: gray;
  padding-top: 10px;
}

.optionCell {
  height: 65px;
  border-bottom: 3px dotted gray;
}

.optionEspressoShot {
  padding-top: 15px;
}

.optionsModal {
  height: auto;
  width: 100%;
  margin-top: 50px;
  border: 2px solid black;
  background-color: white;
  position: fixed;
  z-index: 2;
}

.removeItemIcon {
  font-size: 25px;
  margin-left: 10px;
}

.shoppingCartCell {
  height: 55px;
  width: 100%;
  border-bottom: 2px dotted gray;
}

.shoppingCartModal {
  width: 100%;
  margin-left: 110%;
  height: 700px;
  border: 3px solid green;
  background-color: white;
  z-index: 5;
  position: absolute;
}

.sizeCell {
  border: 2px solid blue;
  height: 100%;
  text-align: center;
  font-size: 19px;
  padding: 0px;
  padding-top: 15px;

}

.sizeContainer {
  height: 75px;
}

.submitButton {
  height: 80%;
  margin-top 10%;
  background-color: green;
}

.submitButtonContainer {
  height: 50px;
}
