/* Empty. Add your own CSS if you like */
.drinkCell{
  height: 70px;
  padding: 10px 0;
  border: 1px solid #eeeeee;
  border-width: 0 0 1px;
  display: flex;
}

.drinkCell:first-child{
  border-width: 1px 0 1px;
}

.drinkPhotoHolder {
  width: 50px;
  height: 50px;
}

.drinkPhoto {
	width: 100%;
  height: auto;
  border-radius: 3px;
}

.drinkInfo{
	flex-grow: 1;
	padding-left: 10px;
}

.drinkInfo-name{
  font-size: 1.2em;
}

.drinkInfo-price{
  font-size: 1em;
  color: #888888;
}

.drinkAction{
	width: 40px;
	padding-left: 10px;
}

.drinkAction i{
	font-size: 30px;
	line-height: 50px;
	color: #1abc9c;
}
