
/****** Drink List View ******/

.drinkCell{
  height: 70px;
  padding: 10px 0;
  border: 1px solid #eeeeee;
  border-width: 0 0 1px;
  display: flex;
}

.drinkCell:first-child{
  border-width: 1px 0 1px;
}

.drinkPhotoHolder {
  width: 50px;
  height: 50px;
}

.drinkPhoto {
	width: 50px;
  height: 50px;
  border-radius: 3px;
}

.drinkInfo{
	flex-grow: 1;
	padding-left: 10px;
}

.drinkInfo-name{
  font-size: 1.2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.drinkInfo-price{
  font-size: 1em;
  color: #888888;
}

.drinkAction{
	width: 40px;
	padding-left: 10px;
}

.drinkAction i{
	font-size: 30px;
	line-height: 50px;
	color: #1abc9c;
}


/****** Modal *******/

.closeOptions {
  text-align: right;
  font-size: 22px;
  margin-top: 10px;
}

.optionsHeaderTitle{
  font-size: 20px;
  padding-top: 12px;
}

.drinkRepeatContainer {
  height: auto;
  padding: 0px;
}

.espressoMath {
  text-align: right;
  font-size: 18px;
  margin-top: 4px;
}

.espressoMath-less{
  margin-right:15px;
}

.espressoMath-number{
  margin-right:15px;
}

.optionText{
  font-size: 16px;
  margin-top: 3px;
  padding: 0;
}

.optionInput{
  text-align: right;
  padding: 0;
}

.optionInput select{
  width: 100px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  font-size: 16px;
  padding: 2px 6px;
}

.moreOptionsContainer{
  margin-bottom: 10px;
}

.openMore {
  height: 50px;
  text-align: center;
  font-size: 18px;
  color: #888888;
  padding-top: 10px;
  outline: none;
}

.optionCell{
  height: 50px;
  border: 1px solid #eeeeee;
  border-width: 0 0 1px;
  padding: 10px 5px;
}

.optionCell:first-child{
  border-width: 1px 0 1px;
}

.optionsModal {
  height: auto;
  width: 90%;
  left: 50%;
  top: 50px;
  margin-left: -45%;
  box-shadow: 0 0 0 400px rgba(0,0,0,.4);
  border-radius: 5px;
  background-color: white;
  position: fixed;
  z-index: 2;
}

.sizeContainer{
  height: 75px;
  margin: 20px 0 10px;
}

.sizeCellContainer{
  text-align: center;
  padding: 0;
}

.sizeCell{
  border: 2px solid #aaaaaa;
  width: 60px;
  height: 60px;
  display: inline-block;
  text-align: center;
  font-size: 19px;
  border-radius: 50%;
}

.sizeSmall{
  padding-top: 11px;
}

.sizeSmall i{
  font-size: 30px;
}

.sizeMedium{
  padding-top: 8px;
}

.sizeMedium i{
  font-size: 35px;
}

.sizeLarge{
  padding-top: 6px;
}

.sizeLarge i{
  font-size: 40px;
}

.modalActionContainer{
  display: flex;
  border-top: 1px solid #eeeeee;
  padding: 10px 0;
}

.modalActionContainer button{
  width: 100%;
  height: auto;
  padding: 8px 0;
  box-shadow: none;
  border-radius: 5px;
  letter-spacing: 1px;
  border: none;
}

.modalActionCancel{
  display: inline-block;
}

.modalActionCancel button{
  background-color: #cccccc;
}

.modalActionSubmit{
  display: inline-block;
}

.modalActionSubmit button{
  background-color: #1abc9c;
}
